<div class="site-slider">
  <div class="slider-wrap">
    <div class="slider-window">

      {% for post in site.posts %}
        {% if post.featured %}
          <div class="slide">
            
              <img src="{{ post.thumbnail | prepend: site.baseurl }}"/>
                <div class="slide-title-bar">
                  <p class="slide-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <p class="slide-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                </div>
              
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    setInterval( "rotate()", 5000 ); 
  });

  function rotate(){
    var $prev = $('.slider-window div:first-child');
    var $slider = $('.slider-window');
    
    $slider.animate({left: '-=100%'}, 750);
    
    $slider.promise().done( function(){
      $prev.detach();
      $slider.css('left', '0px');
      $slider.append($prev);
    });
  }
</script>
